.productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background-color: #FCEDDA;
    border: 1px black solid;
    border-radius: 20px;
    margin-right: 25px;
    margin-bottom: 20px;
    width: 19%;
    height: 23rem;
}

.product img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    
}

.product-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-infos h2 {
    margin-bottom: 0px;
}

.product-infos p {
    font-size: 18px;
    margin-top: 12px;
    margin-bottom: 15px;
}

.add-product {
    width: 50%;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #EE4E34;
    font-size: 14px;
    
}

